<!--This is the page where the authenticated users will land on when they log in-->
{% extends "../base/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% include "../base/nav-main.html" %}
<div class="container pt-5">
    <section class="jumbotron text-center bg-light"> <!--The main content is wrapped in a <section> tag with a class of jumbotron, which is a Bootstrap class for creating a prominent box for showcasing key content. Inside this section, you have a header and a brief description.-->
        <div class="container bg-light">
            <h1>User Dashboard</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Logout</a>
            </p>
        </div>
    </section>
</div>
{% include "base/footer.html" %}
{% endblock %}